.mycontent {
  position: relative;
}

.pgcontent {
  min-height: 500px;
  /* background-color: antiquewhite; */
  background-image: url('/assets/images/round.png');
  position: relative;
}


.foot {
  position: relative;
}
