<div appFootercolor class="footer">
  <p>Designed by Adesh Singh</p>
  <p> &copy; Kickstarter </p>
</div>
<hr>
<button style="background-color:#d35400; border-radius:10px;" (click)="set1()"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#612b07; border-radius:10px;" (click)="set2('#612b07')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#f10b0b; border-radius:10px;" (click)="set2('#f10b0b')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#cee409; border-radius:10px;" (click)="set2('#cee409')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#114ac5; border-radius:10px;" (click)="set2('#114ac5')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#c50dbc; border-radius:10px;" (click)="set2('#c50dbc')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#6d054e; border-radius:10px;" (click)="set2('#6d054e')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#047272; border-radius:10px;" (click)="set2('#047272')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#000000; border-radius:10px;" (click)="set2('#000000')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#a1aaaa; border-radius:10px;" (click)="set2('#a1aaaa')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#19087a; border-radius:10px;" (click)="set2('#19087a')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#4c31e4; border-radius:10px;" (click)="set2('#4c31e4')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#777906; border-radius:10px;" (click)="set2('#777906')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
<button style="background-color:#0f6607; border-radius:10px;" (click)="set2('#0f6607')"> &nbsp;&nbsp;&nbsp;&nbsp; </button>
